.anim-slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
    0% {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	visibility: visible;
    }
    100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	visibility: visible;
    }
    100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
    }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
