@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
    color: #fdfdfd;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    background-color: #607D8B;
}

#app {
    width: 100%;
    height: 100%;
}

#redditv-player {
    width: 100%;
    height: 100%;
}

#redditv-playlist-root {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
}

#redditv-playlist-container {
    position: absolute;
    background-color: #607D8B;
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 140px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#redditv-playlist-leftpane {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40px;
    color: white;
    line-height: 40px;
    vertical-align: middle;
}

#redditv-playlist-rightpane {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
    color: white;
}

.redditv-playlist-entry {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 165px;
    margin: 0px 0px 45px 0px;
    vertical-align: top;
    white-space: normal;
    cursor: pointer;
}

.redditv-playlist-entry:hover {
    background-color: #90A4AE;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.selected {
    background-color: #ECEFF1;
}

.entry-title {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    font-size: 14px;
    top: 0;
    padding: 10px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-thumbnail {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    margin: 5px;
    top: 0;
    height: 116px;
    background-color: #1d1d1d;
    width: 155px;
}

.button-pane {
    position: relative;
    height: 40px;
    width: 40px;
    /* top: 0; */
    text-align: center;
    line-height: 40px;
    background-color: #455A64;
    cursor: pointer;
}

.button-pane:hover {
    background-color: #78909C;
}

.button-pane:active {
    color: black;
}

.button-pane > .material-icons {
    vertical-align: middle;
}

.button-pane-tall {
    position: absolute;
    height: 100px;
    bottom: 0;
    line-height: 100px;
    background-color: #03A9F4;
}

.button-pane-tall:hover {
    background-color: #4FC3F7;
}

#redditv-player-container {
    position: absolute;
    background-color: #1d1d1d;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 140px;    
}

.redditv-player-left-collapsed {
}

.redditv-player-left-expanded {
    left: 180px;
}

/* Panes */

.redditv-pane {
    position: absolute;
    top: 40px;
    bottom: 140px;
    width: 40px;
    background-color: #263238;
}

.redditv-rightpane {
    top: 0;
    left: auto;
    right: 0;
}

.redditv-header {
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px;
    left: 0;
    right: 40px;
    background-color: #263238;
}

.redditv-header > span {
    padding: 0 3px 0 7px;
    vertical-align: middle;
    font-size: 24px;
}

input[type='text'] {
    background-color: black;
    font-size: 24px;
    vertical-align: middle;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    outline: none;
    border: none;
}