*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/compiled/**
/resources/public/css/main.css
/target/
figwheel_server.log
pom.xml
pom.xml.asc
