@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
    /* box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
    color: #fdfdfd;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    background-color: #607D8B;
}

#app {
    width: 100%;
    height: 100%;
}

#redditv-player-container {
    position: absolute;
    background-color: #1d1d1d;
    top: 0;
    width: 100%;
    bottom: 140px;    
}

#redditv-player {
    width: 100%;
    height: 100%;
}

#redditv-playlist {
    position: absolute;
    background-color: #607D8B;
    bottom: 0;
    width: 100%;
    height: 140px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.redditv-playlist-entry {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 165px;
    margin: 0px 0px 45px 0px;
    vertical-align: top;
    white-space: normal;
    cursor: pointer;
}

.redditv-playlist-entry:hover {
    background-color: #90A4AE;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.selected {
    background-color: #ECEFF1;
}

.entry-title {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    font-size: 14px;
    top: 0;
    padding: 10px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-thumbnail {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    margin: 5px;
    top: 0;
    height: 116px;
    background-color: #1d1d1d;
    width: 155px;
}

/* Material Styling */
.mdl-layout__header {
    position: absolute;
    z-index: 2;
}

.mdl-layout__header, .mdl-layout__drawer-button {
    color: white;
}
